<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
       Service
     </div>
     <div class="panel-body">
      <div class="row">
       <%= form_for [:admin, @admin_story] do |f| %>
       <div class="col-md-6">

        <div class="form-group">
          <%=f.label :title%>
          <%=f.text_field :title ,class: 'form-control', placeholder: 'Enter name', required: 'true'%>
        </div>
        <div class="form-group">
        <%=f.label :description%>
          <%=f.text_area :description ,class: 'form-control', placeholder: 'Enter name', required: 'true'%>
        </div>
        <div class="form-group">
          <%=f.label :image%>
          <%=f.file_field :image ,class: 'form-control', placeholder: 'Enter name', required: 'true'%>
        </div>

        <%= f.submit 'Submit Button', class: "btn btn-default" %>
        <button type="reset" class="btn btn-default">Reset Button</button>
        <a  href="/admin/users" class="btn btn-default">Back</a>
      </div>

      <%end%>
    </div>
  </div>        
</div>
</div>    
</div>