<div class="page page-index">

<div class="home-hero unit-hero">
  <div class="hero-content">
    <%home=find_section('home_headline')%>
    <h1 class="hero-headline"><%=home.title rescue 'We make it easy to run your office'%></h1>
    <p class="hero-subheadline"><%=home.subtitle rescue 'Join the thousands of companies who use Managed by Q to handle everything from carpet cleaning to appliance repair.'%></p>
    <div class="hero-btn-wrapper">
      <a class="btn btn-primary" href="<%=home.link_path rescue '/signup#index'%>">
        <%=home.link_text rescue 'Get Started'%>
      </a>
    </div>
  </div>

  <div class="hero-cloud">
    <div class="cloud-row cloud-row-1">

        <div class="cloud-image-item" style="background-image: url(/assets/images/flatiron-1.jpg);">
                      <div class="cloud-logo" style="background-image: url(/assets/images/flatiron.png);"></div>
                  </div>

        <div class="cloud-image-item" style="background-image: url(/assets/images/barkbox.jpg);">
                      <div class="cloud-logo" style="background-image: url(/assets/images/barkbox.png);"></div>
                  </div>

        <div class="cloud-image-item" style="background-image: url(/assets/images/youknow.jpg);">
                      <div class="cloud-logo" style="background-image: url(/assets/images/youknow.png);"></div>
                  </div>
          </div>
    <div class="cloud-row cloud-row-2">

        <div class="cloud-image-item" style="background-image: url(/assets/images/Sprout-Social-Office-Reception.jpg);">
                      <div class="cloud-logo" style="background-image: url(/assets/images/sproutsocial.jpg);"></div>
                  </div>

        <div class="cloud-image-item" style="background-image: url(/assets/images/charitywater.jpg);">
                      <div class="cloud-logo" style="background-image: url(/assets/images/charitywater.png);"></div>
                  </div>

        <div class="cloud-image-item" style="background-image: url(/assets/images/ticketfly-image.jpg);">
                      <div class="cloud-logo" style="background-image: url(/assets/images/ticketfly.png);"></div>
                  </div>
          </div>
    <div class="cloud-row cloud-row-3">

        <div class="cloud-image-item" style="background-image: url(/assets/images/seatgeek-1.jpg);">
                      <div class="cloud-logo" style="background-image: url(/assets/images/seatgeek.png);"></div>
                  </div>

        <div class="cloud-image-item" style="background-image: url(/assets/images/Staples-Office.jpg);">
                      <div class="cloud-logo" style="background-image: url(/assets/images/Staples-Logo.png);"></div>
                  </div>

        <div class="cloud-image-item" style="background-image: url(/assets/images/bond-street.jpg);">
                      <div class="cloud-logo" style="background-image: url(/assets/images/bondstreet.png);"></div>
                  </div>
          </div>
    <div class="cloud-row cloud-row-4">

        <div class="cloud-image-item" style="background-image: url(/assets/images/flatiron-2.jpg);">
                      <div class="cloud-logo" style="background-image: url(/assets/images/flatiron.png);"></div>
                  </div>

        <div class="cloud-image-item" style="background-image: url(/assets/images/seatgeek-2.jpg);">
                      <div class="cloud-logo" style="background-image: url(/assets/images/seatgeek.png);"></div>
                  </div>

        <div class="cloud-image-item" style="background-image: url(/assets/images/bond-street-2.jpg);">
                      <div class="cloud-logo" style="background-image: url(/assets/images/bondstreet.png);"></div>
                  </div>
          </div>
  </div>
</div>

<%= render partial: 'services'%>

<%= render partial: 'home_feature'%>
<%= render partial: 'stories'%>
<%= render partial: 'joins'%>

  </div>
