<div class="page page-index">

<div class="home-hero unit-hero">
  <div class="hero-content">
    <%home=find_section('home_headline')%>
    <h1 class="hero-headline"><%=home.title rescue 'We make it easy to run your office'%></h1>
    <p class="hero-subheadline"><%=home.subtitle rescue 'Join the thousands of companies who use Managed by Q to handle everything from carpet cleaning to appliance repair.'%></p>
    <div class="hero-btn-wrapper">
      <a class="btn btn-primary" href="<%=home.link_path rescue '/signup#index'%>">
        <%=home.link_text rescue 'Get Started'%>
      </a>
    </div>
  </div>

  <div class="hero-cloud">
    <div class="cloud-row cloud-row-1">

        <div class="cloud-image-item" style="background-image: url(/assets/images/flatiron-1.jpg);">
                      <div class="cloud-logo" style="background-image: url(/assets/images/flatiron.png);"></div>
                  </div>

        <div class="cloud-image-item" style="background-image: url(/assets/images/barkbox.jpg);">
                      <div class="cloud-logo" style="background-image: url(/assets/images/barkbox.png);"></div>
                  </div>

        <div class="cloud-image-item" style="background-image: url(/assets/images/youknow.jpg);">
                      <div class="cloud-logo" style="background-image: url(/assets/images/youknow.png);"></div>
                  </div>
          </div>
    <div class="cloud-row cloud-row-2">

        <div class="cloud-image-item" style="background-image: url(/assets/images/Sprout-Social-Office-Reception.jpg);">
                      <div class="cloud-logo" style="background-image: url(/assets/images/sproutsocial.jpg);"></div>
                  </div>

        <div class="cloud-image-item" style="background-image: url(/assets/images/charitywater.jpg);">
                      <div class="cloud-logo" style="background-image: url(/assets/images/charitywater.png);"></div>
                  </div>

        <div class="cloud-image-item" style="background-image: url(/assets/images/ticketfly-image.jpg);">
                      <div class="cloud-logo" style="background-image: url(/assets/images/ticketfly.png);"></div>
                  </div>
          </div>
    <div class="cloud-row cloud-row-3">

        <div class="cloud-image-item" style="background-image: url(/assets/images/seatgeek-1.jpg);">
                      <div class="cloud-logo" style="background-image: url(/assets/images/seatgeek.png);"></div>
                  </div>

        <div class="cloud-image-item" style="background-image: url(/assets/images/Staples-Office.jpg);">
                      <div class="cloud-logo" style="background-image: url(/assets/images/Staples-Logo.png);"></div>
                  </div>

        <div class="cloud-image-item" style="background-image: url(/assets/images/bond-street.jpg);">
                      <div class="cloud-logo" style="background-image: url(/assets/images/bondstreet.png);"></div>
                  </div>
          </div>
    <div class="cloud-row cloud-row-4">

        <div class="cloud-image-item" style="background-image: url(/assets/images/flatiron-2.jpg);">
                      <div class="cloud-logo" style="background-image: url(/assets/images/flatiron.png);"></div>
                  </div>

        <div class="cloud-image-item" style="background-image: url(/assets/images/seatgeek-2.jpg);">
                      <div class="cloud-logo" style="background-image: url(/assets/images/seatgeek.png);"></div>
                  </div>

        <div class="cloud-image-item" style="background-image: url(/assets/images/bond-street-2.jpg);">
                      <div class="cloud-logo" style="background-image: url(/assets/images/bondstreet.png);"></div>
                  </div>
          </div>
  </div>
</div>

<%= render partial: 'services'%>

<%= render partial: 'home_feature'%>
<%= render partial: 'stories'%>

<div class="block home-guarantee">
  <%join=find_section('home_joins')%>
  <h3 class="block-headline"><%=join.title.html_safe rescue ' Let make the world work better'%></h3>
  <p class="block-subheadline"><%=join.subtitle.html_safe rescue'We&#039;re on a mission to build a better future where technology creates good jobs for everyone.'%></p>
  <a class="inline-link" href="<%=join.link_path rescue'/careers'%>"><%=join.link_text.html_safe rescue 'Join Us &rarr;'%></a>
</div>


<div class="block block-split block-story-promo media-left">
  <div class="block-split-media">
          <div class="media-image mobile" style="background-image: url(/assets/images/Global-CTA-Sales-Promo-Mobile.jpg);"></div>
              <div class="media-image desktop" style="background-image: url(/assets/images/Global-CTA-Sales-Promo-Desktop.jpg);"></div>
      <div class="media-image desktop retina" style="background-image: url(/assets/images/Global-CTA-Sales-Promo-Desktop.jpg);"></div>
      </div>
  <div class="block-split-content">
    <div class="content-wrapper">
      <h2 class="block-headline">Being in the office doesn&#039;t have to feel like work.</h2>
      <p class="block-subheadline">We can help make your office a place your team will want to work in—even on Mondays.</p>
      <a class="inline-link" href="/signup">Learn More &rarr;</a>
    </div>
  </div>
</div>
  </div>
